<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.ddd.infrastructure.persistence.mybatis.mapper.QuestionTagMapper">
    <resultMap id="BaseResultMap" type="com.zhang.ddd.infrastructure.persistence.po.QuestionTag">
        <id column="question_id" property="questionId" />
        <id column="tag_id" property="tagId" />
    </resultMap>

    <resultMap id="WithTagPOMap" extends="BaseResultMap"
               type="com.zhang.ddd.infrastructure.persistence.po.QuestionTag">
        <association property="tagPO" columnPrefix="_tag_"
                     resultMap="com.zhang.ddd.infrastructure.persistence.mybatis.mapper.TagMapper.BaseResultMap" />
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.zhang.ddd.infrastructure.persistence.po.QuestionTag">
        insert into question_tag (question_id, tag_id)
        values (#{questionId}, #{tagId})
    </insert>


    <select id="findByQuestionIds" resultMap="WithTagPOMap" resultType="com.zhang.ddd.infrastructure.persistence.po.QuestionTag">
        select question_id, tag.tag_id as tag_id,
               tag.tag_id as _tag_tag_id,id as _tag_id, label as _tag_label, version  as _tag_version
        from question_tag
        inner join tag
        on question_tag.tag_id = tag.tag_id
        <choose>
            <when test="questionIds != null and questionIds.size() > 0">
                where question_id in
                <foreach item="questionId" collection="questionIds" separator="," open="(" close=")">
                    #{questionId}
                </foreach>
            </when>
            <otherwise>
                where 1=2
            </otherwise>
        </choose>
    </select>

</mapper>
